:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  cursor: pointer;
  text-decoration: inherit;
}

body {
  min-width: 320px;
  font-size: 20px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #f5ecec;
}

button:hover {
  border-color: #c0c1c4;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/*/////////// navbar ///////////*/

header {
  display: flex;
  padding: 0 1vw;
  width: 95vw;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}

header h1 {
  font-size: 3em;
  font-weight: 200;
}

header ul {
  display: flex;
  gap: 0 2vw;
}

header ul li {
  list-style: none;
}

/* presentation */

.presentation {
  width: 93vw;
  margin: 2vh 3vw;
  border-radius: 5px;
}

.presentation-text {
  height: 78vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  border-radius: 14px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 1.5);
  color: #ebebeb;
}

.presentation-text h1 {
  width: 63vw;
  margin-bottom: 3vh;
  font-size: 4em;
}

.presentation-text p {
  width: 37vw;
  font-size: 1.3em;
  margin-bottom: 3vh;
}

.companys {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  width: 96vw;

  overflow: hidden;
  position: relative;
}

.companys div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19%;
  flex-wrap: wrap;
  width: 20%;
  float: left;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(
      -100%
    ); /* Desplazar los elementos hijos completamente hacia la izquierda */
  }
}

.companys div svg {
  margin-right: 1.5vw;
  font-size: 2em;
}

.companys div h2 {
  font-size: 1.4em;
}

.our-services {
  height: auto;
  width: 99vw;
}

.our-services .title {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.our-services .title h1 {
  margin-bottom: 3vh;
}

.our-services .title p {
  width: 40vw;
}

.our-services .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 99vw;
}

.our-services .content div {
  width: 29vw;
  min-width: 200px;
  height: 40vh;
  margin: 2vw;
  border-radius: 5px;
  display: flex;
  background-color: rgb(71 73 73);
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.our-services .content div:hover {
  background-color: #bdb6b6;
  color: #1a1a1a;
  transition: 1s;
}

.our-services .content div h2,
.our-services .content div p {
  margin-bottom: 2vh;
}

.our-services .content div p {
  width: 15vw;
}

.us {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 17vh;
}

.us .texto {
  width: 37vw;
  min-width: 300px;
  margin-bottom: 3vh;
}

.us .texto h1 {
  margin-bottom: 6vh;
}

.us .cont-img div {
  width: 40vw;
  height: 41vh;
  min-width: 300px;
  background-size: cover;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
  border-radius: 14px;
  box-shadow: 4px 10px 17px 0px rgba(0,0,0,0.75);
}

/* //////////why-choose-us /////////// */

.why-choose-us {
  height: 80vh;
  margin: 10vh 0;
  background-color: #aca6a6;
  font-size: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.why-choose-us > h1:first-child {
  margin-bottom: 9vh;
}

.why-choose-us .contents {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.why-choose-us .content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  min-width: 150px;
  margin: 2vh 4vw;
  justify-content: space-between;
}

.why-choose-us .content .num {
  border: 3px solid black;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

.why-choose-us .content h1 {
  margin-bottom: 2vh;
}

/* //////////// footer ///////// */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.social-links {
  display: flex;
  padding: 0;
}

.social-links li {
  margin-right: 10px;
}

.social-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #ccc;
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  .companys div h2 {
    display: none;
  }

  .why-choose-us .content .num {
    width: 35px;
    height: 35px;
  }
}
